<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="author" content="Michael Connor Buchan" />
{{ with .Param "tags" -}}
<meta name="keywords" content="
                               {{- range sort (sort .) -}} {{- . }} {{ end -}}
" />
{{- end }}
{{ with .Summary -}}
<meta name="description" content="{{ . }}" />
{{- end }}

{{/* Alternative output formats for this page */}}
{{- range .AlternativeOutputFormats }}
{{- printf `
<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
{{ end -}}

{{/* Code License */}}
<link rel="license" type="text/html" href="https://www.gnu.org/licenses/agpl-3.0-standalone.html" />
{{/* Content License */}}
<link rel="license" type="text/html" href="https://creativecommons.org/licenses/by-sa/4.0/" />

{{/* Bootstrap */}}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

{{/* Fontawesome */}}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
  integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous" />

{{/* Styles */}}
<link type="text/css" href="/css/style.css" rel="stylesheet" />
{{/* Syntax highlighting */}}
<link type="text/css" href="/css/syntax.css" rel="stylesheet" />
