<header>
  <nav class="navbar navbar-expand-md navbar-light customnav">
    <a class="navbar-brand" href="/">TheFake VIP</a>

    {{/* Nav Toggler (for small screens) */}}
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle Navigation">
      <i class="fa fa-chevron-circle-down" aria-hidden="true"></i>
    </button>

    {{/* Links */}}
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav nav" role="navigation" aria-label="Site">
        {{- $currentPage := . -}}
        {{- range .Site.Menus.main }}
        <li class="nav-item">
          <a href="{{ .URL }}"
            class="nav-link
            {{- if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} active" aria-current="true" {{- else -}} " {{- end -}}>
            {{- .Pre }}
            {{ .Title }}
            {{- .Post }}
          </a>
        </li>
        {{ end -}}
      </ul>

      <ul class="navbar-nav nav ml-auto" role="navigation" aria-label="Social">
                             {{/* Here for now because I don't want target="blank" and the icon is a "fas" icon, not a "fab" one */}}
        <li class="nav-item">
          <a href="mailto:mikey@blindcomputing.org" class="nav-link" title="Email (mikey@blindcomputing.org)" aria-label="Email">
            <i class="fas fa-envelope-square" aria-hidden="true"></i>
          </a>
        </li>
        {{- range .Site.Menus.social }}
        <li class="nav-item">
          <a target="blank" href="{{ .URL }}" class="nav-link" title="{{ .Name }}" aria-label="{{ .Name }}">
            <i class="fab fa-{{- .Identifier -}}" aria-hidden="true"></i>
          </a>
        </li>
        {{ end -}}
      </ul>
    </div>

    </div>


  </nav>
</header>
