<header>
  <nav class="navbar navbar-expand-md navbar-light customnav">
    <a class="navbar-brand" href="/">TheFake VIP</a>

    {{/* Nav Toggler (for small screens) */}}
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle Navigation">
      <i class="fa fa-chevron-circle-down" aria-hidden="true"></i>
    </button>

    {{/* Links */}}
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav nav" role="navigation" aria-label="Site">
        {{- $currentPage := . -}}
        {{- range .Site.Menus.main }}
        <li class="nav-item">
          <a href="{{ .URL }}"
            class='nav-link
          {{- if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} active {{- end -}} '>
            {{- .Pre }}
            {{ .Title }}
            {{- .Post }}
            {{ if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} <span
              class="sr-only">(Current page)</span>
            {{- end }}
          </a>
        </li>
        {{ end -}}
      </ul>

      <ul class="navbar-nav nav ml-auto" role="navigation" aria-label="Social">
        {{- range .Site.Menus.social }}
        <li class="nav-item">
          <a target="blank" href="{{ .URL }}" class="nav-link" title="{{ .Name }}" aria-label="{{ .Name }}">
            <i class="fab fa-{{- .Identifier -}}" aria-hidden="true"></i>
          </a>
          </a>
        </li>
        {{ end -}}
      </ul>
    </div>

    </div>


  </nav>
</header>