<div class="row justify-content-center mb-2">
    <div class="col-md-10">
        <article class="card">
            <header class="card-header">
                <h2 class="card-title"><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
                {{ partial "post-info" . }}
                </header>
                <div class="card-body">
                    {{ .Summary }}
                </div>
                <footer class="card-footer">
                    <a class="card-link" href="{{ .RelPermalink }}">Read More</a>
                </footer>
        </article>
    </div>
</div>
