{{ define "main" }}
{{ $logoPattern := .Param "logo" | default "logo*" }}
{{ $logo := .Resources.GetMatch $logoPattern }}
<div class="row align-items-start g-4">
  {{ with $logo }}
  <div class="col-md-3">
    <img class="img-fluid img-thumbnail" src="{{ .RelPermalink }}"
      {{- if ne .MediaType.SubType "svg" }} width="{{ .Width }}" height="{{ .Height }}"{{ end }}
      alt="{{ $.Param `logoAlt` | default (T `project_logo_alt` $.Title) }}">
  </div>
  {{ end }}
  <div class="{{ if $logo }}col-md-9{{ else }}col{{ end }}">
    <header>
      <h1>{{ .Title }}</h1>
      {{- with .Param "subtitle" }}
      <p class="lead">{{ . }}</p>
      {{- end }}
      {{- with .Param "developers" }}
      <div>{{ partial "developers.html" . }}</div>
      {{- end }}
      <div class="mt-2">
        {{- with .Param "website" }}
        <a class="me-3" target="_blank" rel="noopener" href="{{ . }}">{{ T "website" }}</a>
        {{- end }}
        {{- with .Param "code" }}
        <a target="_blank" rel="noopener" href="{{ . }}">{{ T "source_code" }}</a>
        {{- end }}
      </div>
    </header>
  </div>
</div>
<h2 class="visually-hidden" id="description-heading">{{ T "project_description" }}</h2>
<article class="mt-4" aria-labelledby="description-heading">
  {{ .Content }}
</article>
{{ end }}
