{{ define "main" }}
<h1 class="visually-hidden">{{ .Title }}</h1>
{{ partial "alt-formats.html" . }}
{{ .Content }}
<hr>
{{ range .Pages.GroupByParam "status" }}
{{ $status := .Key | urlize }}
<section aria-labelledby="{{ $status }}-heading">
		<h2 id="{{ $status }}-heading">{{ T (printf "project_status_%s" $status) | default (humanize .Key) }}</h2>
	<div class="row row-cols-1 row-cols-md-3 row-cols-lg-4">
{{ range .Pages.ByTitle }}
<div class="col">
{{ partial "project-card.html" . }}
		</div>
{{ end }}
	</div>
</section>
{{ end }}
{{ end }}
