<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
{{- with .Site.Params.author.name }}
<meta name="author" content="{{ . }}">
{{- end }}
{{- with .Param "tags" }}
<meta name="keywords" content="{{ delimit . `, ` }}">
{{- end }}
{{- with .Description | default .Site.Params.description }}
<meta name="description" content="{{ . }}">
{{- end }}
<link rel="canonical" href="{{ .Permalink }}">

{{- range .AlternativeOutputFormats }}
{{- printf `<link rel=%q type=%q href=%q title=%q>` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
{{- end }}
{{- range .Translations }}
<link rel="alternate" href="{{ .Permalink }}" hreflang="{{ .Lang }}" type="{{ .MediaType.Type }}">
{{- end }}

<link rel="license" type="text/html" href="https://www.gnu.org/licenses/agpl-3.0-standalone.html">
<link rel="license" type="text/html" href="https://creativecommons.org/licenses/by-sa/4.0/">

{{- with resources.Get "elemental/js/color-mode.js" | fingerprint }}
<script src="{{ .RelPermalink }}" integrity="{{ .Data.Integrity }}"></script>
{{- end }}
{{- range slice "elemental/vendor/bootstrap/bootstrap.min.css" "elemental/css/main.css" "elemental/css/syntax.css" }}
  {{- with resources.Get . | minify | fingerprint }}
<link rel="stylesheet" href="{{ .RelPermalink }}" integrity="{{ .Data.Integrity }}">
  {{- end }}
{{- end }}
{{- with resources.Get "css/custom.css" }}
  {{- with . | minify | fingerprint }}
<link rel="stylesheet" href="{{ .RelPermalink }}" integrity="{{ .Data.Integrity }}">
  {{- end }}
{{- end }}
{{- with resources.Get "elemental/vendor/bootstrap/bootstrap.bundle.min.js" | fingerprint }}
<script src="{{ .RelPermalink }}" integrity="{{ .Data.Integrity }}" defer></script>
{{- end }}
