<div class="small text-body-secondary">
  <div class="d-flex flex-wrap align-items-baseline column-gap-3 row-gap-1">
    <time datetime="{{ .Date.Format "2006-01-02" }}">{{ T "published_on" (.Date | time.Format ":date_long") }}</time>
    <span>{{ T "reading_time" (dict "count" .ReadingTime) }}</span>
  </div>
  {{- with .Param "tags" }}
  <nav class="d-flex flex-wrap align-items-baseline column-gap-3 row-gap-1" aria-label="{{ T `post_tags` }}">
    {{- range $tag := sort . }}
      {{- with $.Site.GetPage (printf "/tags/%s" ($tag | urlize)) }}
      <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
      {{- end }}
    {{- end }}
  </nav>
  {{- end }}
</div>
