<article class="card mb-3">
                <div class="card-body">
                <h2 class="h4 card-title">
                <a href="{{ .RelPermalink }}" class="stretched-link">{{ .LinkTitle }}</a>
                </h2>
                {{- if not (or .Site.Params.hidePostCardMeta .Params.hidePostCardMeta) }}
                {{ partial "post-info" . }}
                {{- end -}}
                <div class="post-card-content">
                    {{ .Summary }}
                </div>
                </div>
        </article>
