<div class="card h-100">
    <header class="card-header">
        <h3 class="card-title"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
	{{ with .Param "subtitle" -}}
	<h4 class="card-subtitle">{{ . }}</h4>
	{{- end }}
	{{ with .Param "developers" -}}
	{{ partial "developers.html" . -}}
	{{- end }}
    </header>
    <div class="card-body">
        {{ .Summary }}
    </div>
    <footer class="card-footer">
        <a class="card-link stretched-link" href="{{ .RelPermalink }}">Learn More</a>
	{{ with .Param "website" -}}
	<a class="card-link" target="blank" href="{{ . }}">Website</a>
	{{- end }}
	{{ with .Param "code" -}}
	<a class="card-link" target="blank" href="{{ . }}">Sourcecode</a>
	{{- end }}
    </footer>
</div>
