{{- $organization := .model.organization -}}
<div class="col cv-entry p-affiliation h-card">
  <h3 class="h5">{{ partial "cv/organization.html" $organization }}</h3>

  <dl class="row">
    {{- range $role := .model.roles -}}
      <dt class="col-sm-6 p-role">{{ $role.name }}</dt>
      <dd class="col-sm-6">{{ partial "cv/date.html" (dict "date" $role.date "style" $.dateStyle "position" $.position) }}</dd>
    {{- end }}
  </dl>

  {{- partial "cv/highlights.html" (dict
    "page" .page
    "highlights" .model.highlights
    "itemClass" "p-note"
  ) -}}
</div>
