{{- $organization := .model.organization -}}
{{- $entry := .model.entry -}}
<div class="col cv-entry p-experience h-event">
  <h3 class="h5 p-location h-card">{{ partial "cv/organization.html" $organization }}</h3>
  <p><span class="p-name">{{ $entry.position }}</span><br>
    <span class="text-body-secondary">{{ partial "cv/date.html" (dict
      "date" $entry.date
      "style" .dateStyle
      "position" .position
      "startClass" "dt-start"
      "endClass" "dt-end"
    ) }}{{ if not $entry.date.end }} – Present{{ end }}</span>
  </p>
  {{- if or $entry.summary .model.highlights }}
    <div class="p-summary">
      {{- with $entry.summary }}
        <div>{{ $.page.RenderString (dict "display" "block") . }}</div>
      {{- end }}
      {{- with .model.highlights }}
        {{- partial "cv/highlights.html" (dict "page" $.page "highlights" .) -}}
      {{- end }}
    </div>
  {{- end }}
</div>
