{{- $basics := .cv.basics -}}
{{- $image := partial "resources/get.html" (dict
  "page" .page
  "name" $basics.image.resource
) -}}
{{- if not (reflect.IsImageResource $image) -}}
  {{- errorf "CV resource %q is not an image for %s" $basics.image.resource .page.RelPermalink -}}
{{- end -}}
<header class="row mb-2">
  <div class="col-md-2">
    <img src="{{ $image.RelPermalink }}" width="{{ $image.Width }}" height="{{ $image.Height }}" alt="{{ $basics.image.alt }}" class="img-fluid w-100">
  </div>
  <div class="col-md-10">
    <div class="p-contact h-card">
      <data class="u-photo" value="{{ $image.RelPermalink }}"></data>
      <h1 class="display-6 p-name">{{ $basics.name }}</h1>
      <h2 class="h3 p-role">{{ $basics.label }}</h2>

      <ul class="list-inline">
        <li class="list-inline-item"><a class="u-url u-uid" href="{{ $basics.url }}">{{ $basics.url_label }}</a></li>
        {{- range $basics.profiles }}
          <li class="list-inline-item"><a class="u-url" rel="me" href="{{ .url }}">{{ .label }}</a></li>
        {{- end }}
      </ul>
    </div>

    <p class="lead p-summary">{{ $basics.summary }}</p>
    {{- with .content }}
      <div class="cv-notes">{{ $.page.RenderString (dict "display" "block") . }}</div>
    {{- end }}
  </div>
</header>
