<div class="col cv-entry">
  <h3 class="h5">{{ .model.project.name }}</h3>

  {{- with .model.primaryLink }}
    <a href="{{ .url }}">{{ .label }}</a>
    &ndash;
  {{- end }}
  <small class="text-body-secondary">
    {{- range $index, $skill := .model.skills -}}
      {{- if $index }} &middot; {{ end -}}
      <span class="p-skill">{{ $skill.name }}</span>
    {{- end -}}
  </small>

  <p>{{ .model.project.description }}</p>

  <h4 class="h6">Skills</h4>
  {{- partial "cv/highlights.html" (dict
    "page" .page
    "highlights" .model.highlights
  ) -}}
</div>
