<!doctype html>
<html lang="{{ .Language.Lang }}">
<head>
  {{ partial "head.html" . }}
  <title>{{ if .IsHome }}{{ site.Title }}{{ else }}{{ .Title }} | {{ site.Title }}{{ end }}</title>
</head>
<body class="d-flex min-vh-100 flex-column">
  <a class="visually-hidden-focusable" href="#main-content">{{ T "skip_to_content" }}</a>
  {{ partial "nav.html" . }}
  <main id="main-content" class="container content flex-grow-1 py-4">
    {{ block "main" . }}{{ end }}
  </main>
  {{ partial "footer.html" . }}
</body>
</html>
