{{/* Scrollspy for the table of contents */}}
{{- define "body-attributes" -}}
  {{- with .Fragments.Headings }} data-bs-spy="scroll" data-bs-target="#toc"{{ end -}}
{{- end -}}

{{ define "main" }}
<article>
  <header class="mb-4">
    <h1 class="display-6">
      <a href="{{ .Permalink }}" rel="bookmark" title="Permalink">{{ .Title }}</a>
    </h1>
    {{ partial "post-info.html" . }}
  </header>

<div class="row">
  <aside class="elemental-sidebar col-lg-3">
  {{ partial "contents.html" . }}
  </aside>
  <div class="col-lg-9">
    <div class="reading-column">
    {{ .Content }}
    </div>
  </div>
</div>
</article>
{{ end }}
